@import '../../styl/Colors.styl'
transform(str)
  -webkit-transform: str
  -moz-transform: str
  -ms-transform: str
  -o-transform: str
  transform: str

transition(prop, time)
  -webkit-transition: prop time
  -moz-transition: prop time
  -ms-transition: prop time
  -o-transition: prop time
  transition: prop time

*
  box-sizing: border-box
  margin: 0
  padding: 0
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  list-style: none

body
  width: 100vw
  height: 100vh
  overflow-x: hidden
  background-color: #ffffff
  color: $Base2

span.logo
  &:before
    content: "q"
    transform(rotate(45deg))
  &:after
    content: "b"
    transform(rotate(-45deg))

nav.header
  width: 100vw
  height: 80px
  position: fixed
  top: 0
  left: 0
  background-color: $White
  border-bottom: 2px solid $Grey
  text-align: center
  z-index: 1
  > .nav-controls
    height: 80px
    display: inline-block
    position: relative
    > .brand
      font-weight: 900
      padding-top: 20px
      font-size: 20px
    > span
      display: inline-block
      padding-left: 20px
      padding-right: 20px
      text-align: center
      height: 80px
      vertical-align: center
      cursor: pointer
      overflow: hidden
      > div
        padding-top: 15px
        height: 10px
        &:after
          content: ""
          height: 2px
          width: 60px
          position: absolute
          bottom: 0
          margin-left: -30px
          transition(all, 0.5s)
        > span
          display: block
        > span.mdi
          font-size: 30px
      &:hover
        > div
          color: $Accent2
          opacity: 0.8
          &:after
            background-color: $Accent2
            opacity: 0.8
div.profile
  position: absolute
  text-align: center
  margin-top: 80px
  padding-bottom: 40px
  > .slide
    width: 100vw
div.user-detail
  position: relative
  width: 100vw
  padding: 30px
  >img.avatar
    border-radius: 50%
    height: 150px
    width: 150px
    border: solid 10px $Base1
    background-color: $Grey
    box-sizing: content-box
  >div.user-name
    width: auto
    font-size: 2rem
    font-weight: 600
    color: $Accent1
    padding: 10px
    margin-top: 10px
.contest-start > div.contest-group
  border: 2px solid $Accent2
  border-radius: 10px
  padding: 20px
  overflow: hidden
  transition(all, 0.5s)
  &:after
    content: ""
    background-color: rgba($Accent2, 0.1)
    height: 100%
    width: 100%
    position: absolute
    top: 100%
    left: 0
    transition(all, 0.2s)
    z-index: -1
  &:hover
    border: 2px solid rgba($Accent2, 0.1)
    &:after
      top: 0
  > h4
    color: $Accent2
.contest-form
  > div
    margin-top: 20px
    margin-bottom: -10px
  > input, select
    padding: 10px
    margin-top: 10px
    margin-bottom: 10px
  > select, button
    margin-top: 20px
    margin-bottom: 20px
  > button
    font-weight: 600
