*
  box-sizing: border-box

body 
  width: 100vw
  height: 100vh

transition(prop, time)
  -webkit-transition: prop time
  -moz-transition: prop time
  -ms-transition: prop time
  -o-transition: prop time
  transition: prop time

.stage 
  margin: 150px auto
  text-align: center
  width: 400px
  height: 400px
  -webkit-perspective: 1600px
  -webkit-perspective-origin: 50% -240px
  background-color: #3e8f3e

.cube
  -webkit-transform-style: preserve-3d
  transform: scale(0.75) rotateY(45deg) rotateX(45deg)

.front
  -webkit-transform: translateZ(200px)
.back
  -webkit-transform: rotateY(180deg) translateZ(200px)
.top
  -webkit-transform: rotateX(90deg) translateZ(200px)

.bottom
  -webkit-transform: rotateX(-90deg) translateZ(200px)
.left
  -webkit-transform: rotateY(-90deg) translateZ(200px)
.right
  -webkit-transform: rotateY(90deg) translateZ(200px)

figure 
  display: block
  position: absolute
  width: 400px
  height: 400px
  background-color: #60c2ef
  -webkit-transform-origin: 50% 50% 0
  overflow: hidden
  &:before, &:after
    content: ""; display: block; position: absolute
    width: 100%; height: 100%; opacity: 0
  &:before
    background: -webkit-radial-gradient(top left, rgba(0, 0, 0, 0.5), #000000)
  &:after
    background: -webkit-radial-gradient(top right, rgba(0, 0, 0, 0.5), #000000)
  > div
    display: inline-block
    position: relative
    height: 50px
    width: 50px
    font-size: 20px
    text-align: center
    vertical-align: middle
    user-select: none
    cursor: pointer
    line-height: 15px
    overflow: hidden
    transition(all, 0.2s)
    > span
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -10px)
  > div.tile
    background-color: rgba(0, 0, 0, 0.5)
    color: white
  > div:hover
    background-color: rgba(200, 50, 50, 0.5)